body {
  font-size: 15px;
}
#warpper {
margin: 80px 20px 20px 20px;
}
#nav, #borderBottom {
height: 20px;
}
#nav{
  height: 80px;
}
.pic{
  width: 100%;
  height: auto;
}
.pic img{
  width: 100%;
  height: auto;
}