
/*******************************************************************************
Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#767676;
  background: #fdf187;
  font-size: 15px;
  font-family: "athelas", Lora, "Times New Roman", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #767676;
  text-shadow: none;
}

p{
  margin-bottom: 8px;
}

.clearfix { 
  *zoom: 1; 
} 

.clearfix:before, .clearfix:after { 
  display: table; 
  line-height: 0; 
  content: ""; 
} 

.clearfix:after { 
  clear: both; 
} 


::selection { background:#edd976; color:#fff;}
::-moz-selection { background:#edd976; color:#fff;}
::-webkit-selection { background:#edd976; color:#fff;}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

#btn-dl{
  bottom: 30px;
  top: auto;
  position: fixed;
  width: 310px;
  height: 95px;
  left: 50%;
  margin-left: -155px;
}
#btn-dl img{
  width: 100%;
  height: 100%;
}

#nav, #borderBottom {
height: 20px;
}
.pic{
  width: 100%;
  height: auto;
}
.pic img{
  width: 100%;
  height: auto;
}
#warpper {
margin: 20px;
}
#warpperInner{
  background:#fff url('../images/sec2-repeat.png') repeat;
  min-height: 800px;
}
#nav, #borderBottom{
  width: 100%;
  height: 20px;
  background: #fdf187;
  position: fixed;
  top: 0;
}
#nav{
  height: 20px;
}
#borderBottom{
  bottom: 0;
  top: auto;
}

#nav2{
  width: 100%;
  height: 60px;
  background: #fdf187;
}
#nav-logo{
  position: absolute;
  width: 117px;
  height: 44px;
  top: 20px;
  left: 20px;
}
#nav-logo img{
  width: 117px;
  height: 44px;

}
#nav-avatar{
  width: 70px;
  height: 70px;
  border-radius: 37px;
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: -36px;
  border: 1px #fdf187 solid;
}
#nav-avatar img{
  width: 70px;
  height: 70px;
}
.pic-info{
  text-align: center;
  width: 90%;
  margin: 20px 5%;
}
.pic-info-text{
  margin: 15px auto 3px auto;
}
.pic-info-author, .pic-info-time{
  font-size: 12px;
  color: #a5a5a5;
}
.pic-comment{
  width: 90%;
  margin: 20px 5%;
  border-top: 1px #d6d6d6 solid;
  border-bottom: 1px #d6d6d6 solid;
}
.pic-comment ul{
  font-size: 13px;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.pic-comment ul li{
  margin-top: 20px;
}
.pic-comment-avatar{
  width: 50px;
  height: 50px;
  border-radius: 26px;
  overflow: hidden;
  float: left;
  border: 1px #fdf187 solid;
}
.pic-comment-avatar img{
  width: 50px;
  height: 50px;
}
.pic-comment-text{
  width:-moz-calc(100% - (52px + 15px));
  width:-webkit-calc(100% - (52px + 15px));
  width: calc(100% - (52px + 15px));
  float: left;
  margin-top: 6px;
  margin-left: 15px;
}
.pic-comment-content{
  margin-top: 2px;
  font-size: 15px;
}
.pic-comment-time{
  margin-left: 4px;
  color: #a5a5a5;
}
#copyright{
  position: relative;
  margin: 20px auto 0 auto;
  padding-bottom: 130px;
  width: 122px;
  height: 83px;
}
#copyright img{
  width: 122px;
  height: 83px;
}
.more-info img{
  width: 147px;
  height: 47px;
}
.more-info{
  width: 310px;
  height: 47px;
  margin: 30px auto;
}
.more-info #btn-more{
  margin-right: 12px;
}


/******* response ********/


